#nav li
{
	display: inline;
	list-style-type: none;
	padding: 5px;
	-moz-border-radius-topleft: 19px;
	-webkit-border-top-left-radius: 19px;
	border-top-left-radius: 19px;
	-moz-border-radius-topright: 19px;
	-webkit-border-top-right-radius: 19px;
	border-top-right-radius: 19px;
	padding-top: 20px;
/*	padding-right: 20px; */
	border: solid 1px blue; 
}
#nav li a
{
	display: inline-block;
	width: 100px;
}
